<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Group Name: {{ group_name }}</h1>

    <textarea id="chat-log" cols="100" rows="20"></textarea> <br>
    <input type="text" id="chat-message-input" size="100"> <br>
    <input type="button" value="Send" id="chat-message-submit">
    {{group_name|json_script:"group-name"}}


    <script>
        const groupName = JSON.parse(document.getElementById('group-name').textContent)
        console.log('Group Name: ', groupName)


        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')
        var ws = new WebSocket(
            'ws://' 
            + window.location.host 
            + '/ws/ac/' 
            + groupName 
            + '/'
        )

        ws.onopen = function() {
            console.log('Websocket Connection Open...')
        }
        
        ws.onmessage = function(event) {
            console.log('Message received from Server: ', event.data)
            const data = JSON.parse(event.data)     // String to JSON(or Object)
            console.log('Parsed Data: ', data)
            document.querySelector('#chat-log').value += (data.msg + '\n')

        }
        
        ws.onclose = function(event) {
            console.error('Websocket Connection Closed Unexpectedly...')
        }


        document.getElementById('chat-message-submit').onclick = function(event) {
            const messageInputDOM = document.getElementById('chat-message-input')
            const message = messageInputDOM.value
            
            // JSON.stringify will convert JSON(or Object) to String
            ws.send(JSON.stringify({
                'msg': message
            }))
            
            messageInputDOM.value = ''
        }


    </script>
</body>
</html>